:root {
    --background-color: #121212;
    --headBg-color: #222;
    --font-color: #e3e3e3;
}

@font-face {
    font-family: 'circular';
    src: url(fonts/CircularStd-Medium.woff2) format('woff2');
}


* {
    font-family: 'circular';
    color: var(--font-color);
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 40px;
    font-size: 2.8rem;
    background-color: var(--headBg-color);
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.header button {
    background-color: var(--font-color);
    color: var(--background-color);
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 120px;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    padding: 0px 0px;
    cursor: pointer;
    box-shadow: none;
}
.header button:hover {
    filter: brightness(70%);
    transition: all 0.1s ease-in-out ;
}
.header button:active {
    filter: brightness(50%);
}


.addBook {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.addBook button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.addBook button::before {
    content: '+ ';
}
.addBook button:hover {
    filter: brightness(70%);
    transition: all 0.1s ease-in-out ;
}
.addBook button:active {
    filter: brightness(50%);
}


.books {
    justify-content: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 160px;
    margin: 30px 30px;
    gap: 30px;
}
.book {
    display: flex;
    flex-flow: column;
    background-color: var(--headBg-color);
    padding: 20px;
    border-radius: 10px;
}
.buttons {
    display: flex;
    align-items: flex-end;
    height: 100%;
    gap: 20px;
}
.buttons * {
    height: 30px;
    flex: 1 1 120px;
    color: var(--background-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.buttons *:hover {
    outline: 2px solid wheat;
    outline-offset: 3px;
    filter: brightness(80%);
    transition: 0.1s all ease-in-out;
}
