:root {
    --background-color: #121212;
    --headBg-color: #222;
    --font-color: #e3e3e3;
    --submit-color:rgb(145, 255, 145);
}

@font-face {
    font-family: 'circular';
    src: url(fonts/CircularStd-Medium.woff2) format('woff2');
}


* {
    font-family: 'circular';
    color: var(--font-color);
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 40px;
    font-size: 2.8rem;
    background-color: var(--headBg-color);
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.header button {
    background-color: var(--font-color);
    color: var(--background-color);
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 120px;
    font-size: 1.5rem;
    border: none;
    border-radius: 20px;
    padding: 0px 0px;
    cursor: pointer;
    box-shadow: none;
}
.header button:hover {
    filter: brightness(70%);
    transition: all 0.1s ease-in-out ;
}
.header button:active {
    filter: brightness(50%);
}


.addBook {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.addBook button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.addBook button::before {
    content: '+ ';
}
.addBook button:hover {
    filter: brightness(70%);
    transition: all 0.1s ease-in-out ;
}
.addBook button:active {
    filter: brightness(50%);
}


.books {
    justify-content: center;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 160px;
    margin: 30px 30px;
    gap: 30px;
}
.book {
    display: flex;
    flex-flow: column;
    background-color: var(--headBg-color);
    padding: 20px;
    border-radius: 10px;
}
.buttons {
    display: flex;
    align-items: flex-end;
    height: 100%;
    gap: 20px;
}
.buttons * {
    height: 30px;
    flex: 1 1 120px;
    color: var(--background-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.buttons *:hover, .submit:hover {
    outline: 2px solid var(--font-color);
    outline-offset: 3px;
    filter: brightness(80%);
    transition: 0.1s all ease-in-out;
}

.modal {
    position: fixed;
    border-radius: 10px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s all ease-in-out;
    background-color: var(--headBg-color);
    padding: 12px 22px 18px;
    z-index: 10;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
form {
    display: flex;
    flex-flow: column nowrap;
}
.submit, .closeBox {
    margin-bottom: 10px;
}
.closeBox {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
input[type='text'], #pages{
    display: block;
    border-radius: 8px;
    border: none;
    padding: 3px 10px;
    color: var(--headBg-color);
}
input[type='text'], #pages, .readBox {
    margin-bottom: 10px;
}
.readBox{
    display: flex;
    gap: 10px;
}
#read {
    margin: 0;
}
.close-button{
    outline: none;
    border: none;
    background: none;
    color: var(--font-color);
    font-size: 1.5rem;
}
.submit {
    border-radius: 8px;
    border: none;
    padding: 3px 12px;
    color: var(--headBg-color);
    background-color: var(--submit-color);
    align-self: center;    
    width: 120px;
}
.submit:hover {
    outline: 2px solid var(--submit-color);
}
#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 0.2s all ease-in-out;
}
#overlay.active {
    pointer-events: all;
    opacity: 1;
}